.logout-button {
    width: 100%;
    padding: 12px;
    background-color: #2e7d32;
    box-shadow: 0px 0px 10px #25802a7c;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.logout-button:hover {
    background-color: #e65c00;
}