html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #191919;
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
  /* padding: 2rem; */
  /* color: #FFEB3B; */
}